.logout{
    width: 50%;
            padding: 10px;
            border: none;
            background-color: white;
            color: plum;
            font-weight: bold;
            cursor: pointer;
}